/* Variables */
$main-bg: rgba(187, 182, 162, 0.3);
$soft-bg: rgba(255, 255, 255, 0.08);
$blue: #5193B7;
$dark-gray: #2D2D38;
$light-gray: #606071;
$light: rgb(177, 171, 164);
$orange: rgb(214, 157, 67);
$green: rgb(141, 191, 73);
$green-base: #0AE09F;
$digit: #4DC3B5;
$border-dark: rgb(84, 82, 81);
$disabled: rgba(255, 255, 255, 0.4);
