$button_size: 100px;
$button_margin: 10px;

body {
  background: #333;
  background: white;
}

.keypad {

  .number-buttons {
    float: left;
    width: 3 * $button_size + 2 * $button_margin;
    direction: rtl;
    box-shadow: 0px 0px 1px black;
    padding: 40px;


    button {
      background: white;
      border: none;
      border-radius: 50%;
      width: $button_size;
      height: $button_size;
      margin-right: $button_margin;
      margin-bottom: $button_margin;
      color: white;
      font-size: 50px;
      font-weight: bold;
      text-shadow: 0px 0px 1px black;
      box-shadow: 0px 0px 1px black;
      outline: 0;
      cursor: pointer;

      &:hover {
        box-shadow: 0px 0px 1px yellowgreen;
        text-shadow: 0px 0px 1px yellowgreen;
      }

      &:nth-child(3n + 1) {
        margin-right: 0;
      }

      &:last-child {
        margin-right: $button_size + $button_margin;
        margin-bottom: 0;
      }
    }
  }

  .preview div {
    display: inline-block;
    width: $button_size;
    height: $button_size;
    border: 1px solid gainsboro;
    text-align: center;
    line-height: $button_size;
  }
}

#status-message, .model-debug {
  width: 50%;
  padding: 20px;
  border: 1px solid gray;
  float: right;
  color: gray;
}
